<h1>Users</h1>

{{!-- we are using the #each handlebars helper to iterate over each element of the users array --}}
{{!-- within the #each helper, we can pull the username property off and display it inside an <li> --}}
<ul>{{#each users}}<li>{{username}}</li>{{/each}}</ul>