<h1>Form Submit Counter</h1>

<form method="POST"><input type="submit" value="Submit Me!"></form>

{{!-- handlebars uses the double curly syntax to make use of data passed from the render function --}}
<p>Form has been submitted {{count}} times!</p>